
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_result{

width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.main{
    width: 50vw;
    height: 50vh;
    text-align: center;
    padding: 50px;
    background-color: #39154A;
    border: 2px solid ;
    border-radius: 20px;
    box-shadow: inset 2px 0px 10px 14px;
    color: white;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.main_result{
    width: 30vw;
    height: 60vh;
    text-align: center;
    
    background-color: #39154A;
    border: 2px solid ;
    border-radius: 20px;
    box-shadow: inset 2px 0px 10px 14px;
    color: white;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.score_style{
    font-size: 2.6rem;
    color:#c1d717;
}
.inside{
    width: 20vw;
    height: 45vh;
    padding: 30px;
    background-color: #bc9dcb;
    border: 1px solid;
    border-radius: 30px;
    
}
.remark_style{
    color: rgb(211, 32, 32);
}
.h1_result{
    background-color: #39154A;
    border: 2px solid;
    border-radius: 20px;
    color: #e71b99;
    padding: 7px;
    font-style: oblique;
}
.h1_result,.h3_result{
    margin-bottom: 20px;
}
.h1_result,.h3_result{
    margin-bottom: 20px;
}
.QuesHead{
    display: inline-block;
}
button{
    width:25vw;
    height: 5vh;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    
    background-color: #DD8731;
    color: white;
    cursor: pointer;
    
}

ul{
    margin: 13px;
    list-style: none;
    font-size: 1.2rem;
    display: block;
    
   
}
  
li{
    background-color: #bcc3c9;
   color: black;
    
    border: 1px solid black;
    border-radius:20px ;
    padding: 10px ;
    margin-bottom: 10px;
  width: 25vw;

    

}


.radio>input, .radio>label{
    cursor: pointer;
   
}
input[type='radio'] {
   margin-right: 10px;
    width: 1.2rem;
    height: 1.2rem;
   
}

li:hover{
    background-color: #DD8731;
}
 /* li > input{
    margin-right: 10px;
    width: 1.25em;
    height: 1.25em;
    border: 3px solid #DD8731 ;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
   
}  */
span{
    padding: 13px;
}

